.buttonleft {
	border-radius: 20px 0px 0px 20px;
	background-color: rgb(30, 52, 86);
	color: rgb(241, 250, 238);
}

.buttonleft:hover {
	background-color: rgba(30, 52, 86, 0.627);
}

.buttonrigth {
	border-radius: 0px 20px 20px 0px;
	background-color: rgb(30, 52, 86);
	color: rgb(241, 250, 238);
}

.buttonrigth:hover {
	background-color: rgba(30, 52, 86, 0.627);
}

.pagination {
	align-items: center;
	background-color: rgb(69, 123, 157);
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.pagination button {
	border-width: 1px;
	margin-top: 20px;
	width: 100px;
}
