.login {
	align-items: center;
	background-color: rgb(69, 123, 157);
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 50px);
	justify-content: center;
	color: rgb(241, 250, 238);
}

.logincontainer {
	padding: 15px;
	border-radius: 10px;
	background-color: rgb(30, 51, 85);
}

.logintitle {
	font-size: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginForm {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	width: 250px;
}

.loginForm label {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.loginForm input {
	background-color: rgb(241, 250, 238);
	border: none;
	border-radius: 10px;
	font-size: 13px;
	padding: 10px;
	outline: none;
	margin-bottom: 20px;
}

.loginFormbutton {
	background-color: rgb(69, 123, 157);
	border: none;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	font-size: 13px;
	padding: 10px;
	text-align: center;
	width: 100%;
}

.loginFormbutton:hover {
	background-color: rgb(167, 218, 220);
}
