.favorite {
	background-color: rgb(30, 52, 86);
	border-radius: 100px;
	opacity: 80%;
	position: absolute;
	width: 40px;
}

.favorite:hover {
	border-style: solid;
	border-color: rgb(30, 52, 86);
	border-image-width: 15px;
	cursor: pointer;
	opacity: 100%;
}

.favorite:active {
	border-color: rgb(0, 0, 0);
}

.h1 {
	color: rgb(241, 250, 238);
	height: 0px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
}

.Link {
	align-items: center;
	cursor: pointer;
	display: flex;
	font-family: Josefin Sans, Arial, Helvetica, sans-serif;
	font-size: 24px;
	flex-direction: column;
	height: 90%;
	width: 100%;
}

.postbutton {
	border-style: none;
	position: absolute;
}

.postimg {
	border-radius: 10px 10px 0px 0px;
	height: 80%;
	object-fit: cover;
	width: 100%;
}

.post:hover {
	background: rgba(30, 52, 86, 0.627);
}

.post {
	background: rgb(30, 52, 86);
	border-radius: 15px;
	border-width: 1px;
	border-style: solid;
	height: 300px;
	max-width: 300px;
	min-width: 200px;
	padding: 0.4em;
	width: 100%;
}