.detailsconteiner {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
	margin-top: 15px;
}

.detailsconteiner img {
	height: 500px;
	object-fit: cover;
	width: 90%;
}

.detailsconteiner p {
	width: 70%;
}

.detailsbutton {
	display: flex;
	flex-direction: row;
	gap: 20px;
}
